    <div class="container-fluid">
            <!-- <div class="row homerow" style="background-color: #E6E6FA; height:30%">
        <div class="row row-offcanvas row-offcanvas-right">
 -->

            <div class="row titlebg">
             	<div class="col-xs-9 col-lg-6 other2">
			<h2>Vision and Mission </h2>	
			<p>Engage your employees, investors, customers and other stakeholders in volunteering activities across the globe. Showcase data driven stories of change with quantified impact</p>
                </div>
             	<div class="col-xs-3 col-lg-2 other">
		 	<img src="/assets/img/brand.jpg" width="90%" height="90%" class="d-inline-block align-top" alt="Lift Others">
                </div>

                </div>
            <div class="row bodybg">
<p> </p>
                </div>
            <div class="row bodybg">
             	<div class="col-xs-6 col-lg-4">
			<h2> Spark a Difference </h2>	
			<p> We offer a range of volunteer opportunities to meet different skill sets and hours of availability—</p>
			 <img src="/assets/img/spark.jpg" width="30%" height="30%" class="d-inline-block align-top" alt="Lift Others">
<p> </p>
			<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div>
                <div class="col-xs-6 col-lg-4">
			<h2>Volunteer Spotlight </h2>	
			<p>Spotlighting the impact that has been made by some of our star volunteers who serve our organization in different roles-</p>
		 	<img src="/assets/img/spotlight.jpg" width="30%" height="30%" class="d-inline-block align-top" alt="Spotlight">
<p> </p>
			<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div>
                <div class="col-xs-6 col-lg-4">
			<h2>Summer Volunteer Programs for College Students </h2>	
			<p>Want to experience this vast, diverse nation as a volunteer? There are projects out there to meet any level of experience, interest, or duration requirement</p>
			 <img src="/assets/img/helper.jpg" width="30%" height="30%" class="d-inline-block align-top" alt="Lift Others">
<p> </p>
			<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div>
<!--                <router-outlet></router-outlet>
            <router-outlet name="sidemenu"></router-outlet>
                </div>
-->
        </div>
    </div>

